.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 752px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 90px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 115px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 31.5px) calc(50% - 31.5px);
  min-height: 391px;
  grid-gap: 63px 63px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 32px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 64px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 33px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 32px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 64px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 33px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 322px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 740px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 101px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 31.5px) calc(50% - 31.5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1502px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 676px;
}

.u-section-2 .u-shape-1 {
  width: 525px;
  height: 676px;
  margin: 0 175px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -616px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 556px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 60px 50px 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(241, 174, 14) !important;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: -64px 0 0 100px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 556px;
}

.u-section-2 .u-container-layout-2 {
  padding: 26px 0 26px 81px;
}

.u-section-2 .u-image-1 {
  width: 408px;
  height: 504px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-2 .u-shape-1 {
    left: auto;
    right: 175px;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-2 .u-image-1 {
    width: 389px;
    height: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-2 .u-shape-1 {
    width: 430px;
    left: 115px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 584px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 532px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1221px;
  }

  .u-section-2 .u-shape-1 {
    left: auto;
    right: 0;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 487px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 578px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-2 .u-shape-1 {
    width: 240px;
    height: auto;
    margin: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 307px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-2 .u-image-1 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: linear-gradient(45deg, #425465, #292e33);
}

.u-section-3 .u-sheet-1 {
  min-height: 637px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 740px;
  margin: 31px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 740px;
  margin: 31px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 829px;
  margin: 66px auto 40px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 343px;
  background-image: none;
  margin-top: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 23px 30px 30px;
}

.u-section-3 .u-group-1 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-3 .u-text-4 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 343px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 23px 30px 30px;
}

.u-section-3 .u-group-2 {
  min-height: 170px;
  margin-top: -51px;
  margin-bottom: 0;
  margin-right: 0;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  font-size: 1.25rem;
  margin: 24px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-3 .u-text-7 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-text-8 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
  }

  .u-section-3 .u-group-2 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 31px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-3 .u-text-3 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 0;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
  min-height: 785px;
}

.u-section-4 .u-shape-1 {
  height: 459px;
  margin-top: 145px;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  width: 597px;
  min-height: 561px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -510px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin: 28px 5px 0 15px;
}

.u-section-4 .u-form-1 {
  width: 510px;
  margin: 20px 6px 0 5px;
}

.u-section-4 .u-form-group-1 {
  width: 100%;
}

.u-section-4 .u-form-group-2 {
  width: 100%;
}

.u-section-4 .u-form-group-3 {
  width: 100%;
}

.u-section-4 .u-form-group-4 {
  width: 100%;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  font-style: italic;
  margin: -61px auto 0;
  padding: 13px 41px 14px 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 24px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 4px;
    margin-left: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 36px;
    margin-left: 39px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 40px;
    margin-left: 39px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -64px;
    margin-right: 174px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 72px;
  }
}